.banner-section{
    padding-top: 180px;
    padding-bottom: 100px;
    background-color: #0a3971;
}
.center-content h2 {
    font-size: 57px;
    font-style: italic;
    margin-bottom: 20px;
    color: #fff;
    font-family: "BespokeStencil";
}
 
.subhead {
    font-size: 48px;
    font-weight: 300;
}
.center-content svg path {
    fill: #191919;
}


.center-content .btn-schedule span {
  background-color: #1e76dd;
    font-weight: 800;
    color: #ffffff;
}
.center-content .btn-schedule::after {
  background-color: #ffb800;
}

.roteateas {
    animation: rotation 5s infinite linear;
    -webkit-animation: rotation 5s infinite linear;
}

.cercil {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cercil img {
    width: 120px;
    height: 115px;
}

@keyframes rotation {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(359deg);
    }
}

.maxfinac {
    display: flex;
        align-items: center;
        justify-content: space-between;
    }
.maxfinac img {
    width: 25%;
}

.negative-footer-logo {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer-logo {
    margin-top: 40px;
}
.negative-footer-logo svg {
    height: 100px;
    width: 520px;
}

.mortgage-section {
        background: #0a3971;
        padding: 3rem 80px;
        border-radius: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2rem auto;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

  .mortgage-section h1 {
    font: bold 2.5rem 'Arial', sans-serif;
    color: #4A256C;
    margin: 0;
    line-height: 1.2;
  }

  .graphics {
    position: relative;
    width: 40%;
    text-align: right;
  }

  
  .left-content {
    width: 60%;
}

.graphics img {
    width: 80%;
    margin-left: auto;
}
.box-design h2 {
    margin-bottom: 0 !important;
}

.img-dollar img {
    width: 100%;
}
.img-dollar {
    width: 50%;
}
.contant-text {
    width: 45%;
}
.our-story {
    display: flex
;
    align-items: center;
    justify-content: space-between;
}

section.redefining {
    padding-top: 50px;
    padding-bottom: 50px;
}



#text{
    display:none;
    }
    
    .interpispragrapfg {
        color: #000000 !important;
        font-weight: normal !important;
    }
    button#toggle { border: none; background-color: transparent; font-size: 18px;  color: #63cfbf;  text-decoration: underline;}    
    .redefining { background-color: #ffffff; }
    .FirstLockup p { font-size: 18px; line-height: 29px;  color: #000; }






/****************babbla********************/

 
  .bubbles{
    pointer-events: none;
    position:absolute;
    width:100%;
    height: 100%;
    z-index:0;
    overflow:hidden;
    top:0;
    left:0;
  }
  .bubble {
    position: absolute;
    bottom: -100px;
    width: 40px;
    height: 40px;
    animation: _ngcontent-ng-c1037798033_rise 10s infinite ease-in;
    background-image: url('/assets/images/king-dollar.png');
    background-size: contain;
}
  .bubble:nth-child(1){
    width:40px;
    height:40px;
    left:10%;
    animation-duration:8s;
  }
  .bubble:nth-child(2){
    width:20px;
    height:20px;
    left:20%;
    animation-duration:5s;
    animation-delay:1s;
  }
  .bubble:nth-child(3){
    width:50px;
    height:50px;
    left:35%;
    animation-duration:7s;
    animation-delay:2s;
  }
  .bubble:nth-child(4){
    width:80px;
    height:80px;
    left:50%;
    animation-duration:11s;
    animation-delay:0s;
  }
  .bubble:nth-child(5){
    width:35px;
    height:35px;
    left:55%;
    animation-duration:6s;
    animation-delay:1s;
  }
  .bubble:nth-child(6){
    width:45px;
    height:45px;
    left:65%;
    animation-duration:8s;
    animation-delay:3s;
  }
  .bubble:nth-child(7){
    width:90px;
    height:90px;
    left:70%;
    animation-duration:12s;
    animation-delay:2s;
  }
  .bubble:nth-child(8){
    width:25px;
    height:25px;
    left:80%;
    animation-duration:6s;
    animation-delay:2s;
  }
  .bubble:nth-child(9){
    width:15px;
    height:15px;
    left:70%;
    animation-duration:5s;
    animation-delay:1s;
  }
  .bubble:nth-child(10){
    width:90px;
    height:90px;
    left:25%;
    animation-duration:10s;
    animation-delay:4s;
  }
  @keyframes rise{
    0%{
      bottom:-100px;
      transform:translateX(0);
    }
    50%{
      transform:translate(100px);
    }
    100%{
      bottom:1080px;
      transform:translateX(-200px);
    }
  }









  .ambition h3.w-full {
    max-inline-size: none;
    width: 100%;
    text-wrap: auto;
    font-size: 43px !important;
    text-align: center;
}





:root {
  --card-height: 40vw;
  --card-margin: 4vw;
  --card-top-offset: 1em;
  --numcards: 4;
  --outline-width: 0px;
}
.howtoworks {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}



#card-1 {
  --index: 1;
}

#card-2 {
  --index: 2;
}

#card-3 {
  --index: 3;
}

#card-4 {
  --index: 4;
}

.card {
  position: sticky;
  top: 100px;
  padding-top: calc(var(--index) * var(--card-top-offset));
  border-radius: 4rem;
  margin: 20px 0px;
}
.work-it span {
  position: absolute;
  top: 30px;
}
.work-it {
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
  background: #ffffff;
  color: #131212;
  border-radius: 3rem;
  overflow: hidden;
  display:flex;
align-items: center;
justify-content: space-between;
  padding: 6.4em;
}

.work-it > div {
  grid-area: text;
  width: 95%;
  max-width: 800px;
  place-self: center;
  text-align: left;
  display: grid;
  gap: 1em;
  place-items: start;
}
.work-it .content-stik.tow {
  justify-content: end;
}
.work-it > figure {
  grid-area: img;
  overflow: hidden;
}

.work-it > figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: .4em;
}


    .Hero.inline {
        padding: 55px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .Visual img {
      max-width: 100%;
  }
  .Wrapper {
    width: 50%;
}
.content-block {
  width: 50%;
}





































