<div class="banner-section">
  <div class="container">
    <div class="cions">
      <div class="center-content">
        <svg width="41" height="40" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M31.932 0H0.5L4.27802 10.4938H30.056V36.2469L40.451 40V8.5679C40.438 6.30803 39.538 4.14363 37.944 2.54102C36.351 0.938412 34.192 0.0258653 31.932 0Z"
            fill="black" />
        </svg>
        <h2>Your Vision, Our <span>Blueprint:</span> Crafting Success for Tomorrow.</h2>
        <p>Shape Your Legacy with Confidence & Purpose</p>
        <a href="#" class="btn-schedule"><span>Schedule a Meeting →</span></a>
      </div>
      <div class="main-container">
        <div class="main">
          <img src="assets/images/pink-dollar.png" />
        </div>
        <div class="main-scollrs">
          <img src="assets/images/invest-coin-big-purple.png" />
        </div>

      </div>
    </div>
  </div>
</div>
<!-- 
  <section>
    <div class="sectionroket" id="sectionroket">
      <div class="container">
        <div class="box-design">
          <svg width="41" height="40" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M31.932 0H0.5L4.27802 10.4938H30.056V36.2469L40.451 40V8.5679C40.438 6.30803 39.538 4.14363 37.944 2.54102C36.351 0.938412 34.192 0.0258653 31.932 0Z" fill="black"/>
            </svg>
          <h2  class="title" data-aos="zoom-in">The Journey to <span>Lasting</span> Success.</h2>
          <div class="flexbox">
            <div class="text-section">
              <p class="description"> <strong>Where clarity meets opportunity, and vision becomes reality. </strong></p>
              <p class="description">
                Every business has a story—a past that built its foundation, a present that shapes its purpose, and a future
                waiting to unfold. At Max Evolve, we understand that reaching your business goals isn’t just a path; it’s a
                journey, one shaped by clarity, foresight, and the right guidance.
              </p>
              <p class="description">
                As you move forward, each decision, whether in commercial lending, estate planning, or succession, leads to
                new opportunities and challenges. These turning points are part of a bigger picture, and we're here to help
                you navigate with precision and insight.
              </p>
              <h4>Max Evolve Financial Services Inc.</h4>
            </div>
           
            <div class="image-section optimized aos-init aos-animate">
    
              <img src="assets/images/Ready-to-go.png" alt="Partner Journey">
    <div class="cercil">
      <img class="roteateas" src="assets/images/cercal.png" alt="roution"/>
      <img class="roteateas" src="assets/images/carcil1.png" alt="roution"/>
    </div>
            </div>
          </div>
        </div>
      </div>
      </div>
  </section> -->

<section>
  <div class="container-fluid">
    <div class="box-design">
      <svg width="41" height="40" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M31.932 0H0.5L4.27802 10.4938H30.056V36.2469L40.451 40V8.5679C40.438 6.30803 39.538 4.14363 37.944 2.54102C36.351 0.938412 34.192 0.0258653 31.932 0Z"
          fill="black" />
      </svg>
      <h2 class="title">The Journey to <span>Lasting</span> Success.</h2>

    </div>
    <div class="scrollanimation">
       <div class="mortgage-section">
        <div class="left-content">
          <div class="text-section">
            <p class="description"> <strong>Where clarity meets opportunity, and vision becomes reality. </strong></p>
            <p class="description">
              Every business has a story—a past that built its foundation, a present that shapes its purpose, and a
              future
              waiting to unfold. At Max Evolve, we understand that reaching your business goals isn’t just a path; it’s
              a
              journey, one shaped by clarity, foresight, and the right guidance.
            </p>
            <p class="description">
              As you move forward, each decision, whether in commercial lending, estate planning, or succession, leads
              to
              new opportunities and challenges. These turning points are part of a bigger picture, and we're here to
              help
              you navigate with precision and insight.
            </p>
            <div class="maxfinac">
              <h4>Max Evolve Financial Services Inc.</h4>
              <img src="assets/images/king-dollardathi.png" alt="king dollardathi">
            </div>
          </div>
        </div>
        <div class="graphics">
          <img src="assets/images/piggy-bank.png" alt="piggy-bank">
        </div>
      </div>
      
    </div> 
  </div>
</section>






<div class="container">
  <div class="Hero inline gap-2">
    <div class="Content block">
      <div id="StoriesUnveiled" class="FirstLockup block-center-start">
        <div class="block gap-3">
          <h3>Stories Unveiled</h3>
          <div class="subhead">
            Capture the essence of family celebration.
          </div>
          <p>Share the moments that weave your family tale.</p>
        </div>
      </div>
      <div
        id="CelebratingLifeTogether"
        class="SecondLockup block-center-start"
      >
        <div class="block gap-3">
          <h3>Celebrating Life Together</h3>
          <div class="subhead">Embrace the significance of shared joy.</div>
          <p>In every celebration, find the heartwarming stories.</p>
        </div>
      </div>
      <div id="TheArtofGiving" class="ThirdLockup block-center-start">
        <div class="block gap-3">
          <h3>The Art of Giving</h3>
          <div class="subhead">
            Explore the stories within each present.
          </div>
          <p>Every gift is a chapter in your family's narrative.</p>
        </div>
      </div>
    </div>
    <div class="Wrapper block content-3">
      <div class="Visual block-center-center">
        <picture class="FirstPic">
          <source
            srcset="
              https://raw.githubusercontent.com/mobalti/open-props-interfaces/main/stories-with-scroll-driven/images/img-desktop-3.avif
            "
            media="(width >= 1024px)"
            type="image/avif"
          />
          <source
            srcset="
              https://raw.githubusercontent.com/mobalti/open-props-interfaces/main/stories-with-scroll-driven/images/img-mobile-3.avif
            "
            type="image/avif"
          />
          <source
            srcset="
              https://raw.githubusercontent.com/mobalti/open-props-interfaces/main/stories-with-scroll-driven/images/img-desktop-3.webp
            "
            media="(width >= 1024px)"
            type="image/webp"
          />
          <img
            src="https://raw.githubusercontent.com/mobalti/open-props-interfaces/main/stories-with-scroll-driven/images/img-mobile-3.webp"
            alt="Stories Unveiled"
          />
        </picture>
        <picture class="SecondPic">
          <source
            srcset="
              https://raw.githubusercontent.com/mobalti/open-props-interfaces/main/stories-with-scroll-driven/images/img-desktop-2.avif
            "
            media="(width >= 1024px)"
            type="image/avif"
          />
          <source
            srcset="
              https://raw.githubusercontent.com/mobalti/open-props-interfaces/main/stories-with-scroll-driven/images/img-mobile-2.avif
            "
            type="image/avif"
          />
          <source
            srcset="
              https://raw.githubusercontent.com/mobalti/open-props-interfaces/main/stories-with-scroll-driven/images/img-desktop-2.webp
            "
            media="(width >= 1024px)"
            type="image/webp"
          />
          <img
            src="https://raw.githubusercontent.com/mobalti/open-props-interfaces/main/stories-with-scroll-driven/images/img-mobile-2.webp"
            alt="Celebrating Life Together"
          />
        </picture>
        <picture class="ThirdPic">
          <source
            srcset="
              https://raw.githubusercontent.com/mobalti/open-props-interfaces/main/stories-with-scroll-driven/images/img-desktop-1.avif
            "
            media="(width >= 1024px)"
            type="image/avif"
          />
          <source
            srcset="
              https://raw.githubusercontent.com/mobalti/open-props-interfaces/main/stories-with-scroll-driven/images/img-mobile-1.avif
            "
            type="image/avif"
          />
          <source
            srcset="
              https://raw.githubusercontent.com/mobalti/open-props-interfaces/main/stories-with-scroll-driven/images/img-desktop-1.webp
            "
            media="(width >= 1024px)"
            type="image/webp"
          />
          <img
            src="https://raw.githubusercontent.com/mobalti/open-props-interfaces/main/stories-with-scroll-driven/images/img-mobile-1.webp"
            alt="The Art of Giving"
          />
        </picture>
      </div>
    </div>

    <!-- mobile sda  -->
    <div class="SmallScreenContent block-center-center">
      <p class="FirstStory">The Art of Giving</p>
      <p class="SecondStory">Celebrating Life Together</p>
      <p class="ThirdStory">Stories Unveiled</p>
    </div>
  </div>

</div>


































<section class="redefining" id="redefining">
  <div class="container">
    <h2 class="title">Max Evolve: Redefining <span>financial dreams</span> with strategies as bold and visionary as your <span>ambitions</span></h2>
  <div class="our-story">
      <div class="description">
        <p>The journey of Max Evolve Financial Services began with a bold vision: to empower businesses and individuals by providing tailored financial solutions that bridge the gap between aspirations and achievement. The founders of Max Evolve recognized the complexities faced by clients navigating critical financial decisions, from securing business loans to planning estates, restructuring organizations, and preparing for retirement. Traditional methods often lacked the strategic depth and personalized touch needed to address these challenges effectively.  
          <span class="interpispragrapfg" id="text"> 
           <br> 
           <br>
           Inspired by these gaps, the founders of Max Evolve set out to create a consultancy that combines financial expertise with innovative solutions. By assembling a team of seasoned professionals in business consultancy, estate and succession planning, organizational restructuring, and taxation strategies, they established a company rooted in trust, collaboration, and forward-thinking.
         
           <br>
           <br>
            Though newly launched, Max Evolve is already making waves, offering comprehensive services designed to meet the unique needs of businesses and families. The team’s meticulous attention to detail, coupled with a deep understanding of evolving financial landscapes, empowers clients to navigate complex scenarios with clarity and confidence. From crafting impactful business proposals to designing robust succession plans, Max Evolve delivers results that redefine possibilities.
       
          <br>
          <br>
            Today, Max Evolve Financial Services is more than a consultancy—it is a trusted partner in shaping futures. Guided by a commitment to integrity, innovation, and personalized care, the company is poised to empower clients to achieve financial security and success in an ever-changing world. The story of Max Evolve is one of fresh beginnings, bold vision, and an unwavering dedication to helping clients thrive.
          </span>
            <button id="toggle">Read More</button>

            </p>
      </div>

      <div class="img-dollar">
      <img src="assets/images/our-story-dollar.png">
      </div>
    </div> 
    
    </div>
</section>



<!-- <body class="block-center-center">
  <nav class="Nav block-center-center">
    <a href="/"> Get Started </a>
  </nav>
  <main class="inline content-full">
    <section class="Hero inline gap-2">
      <div class="Wrapper block content-3">
        <div class="Visual block-center-center">
          <picture class="FirstPic">
            <source
              srcset="
                https://raw.githubusercontent.com/mobalti/open-props-interfaces/main/stories-with-scroll-driven/images/img-desktop-3.avif
              "
              media="(width >= 1024px)"
              type="image/avif"
            />
            <source
              srcset="
                https://raw.githubusercontent.com/mobalti/open-props-interfaces/main/stories-with-scroll-driven/images/img-mobile-3.avif
              "
              type="image/avif"
            />

            <source
              srcset="
                https://raw.githubusercontent.com/mobalti/open-props-interfaces/main/stories-with-scroll-driven/images/img-desktop-3.webp
              "
              media="(width >= 1024px)"
              type="image/webp"
            />
            <img
              src="https://raw.githubusercontent.com/mobalti/open-props-interfaces/main/stories-with-scroll-driven/images/img-mobile-3.webp"
              alt="Stories Unveiled"
            />
          </picture>
          <picture class="SecondPic">
            <source
              srcset="
                https://raw.githubusercontent.com/mobalti/open-props-interfaces/main/stories-with-scroll-driven/images/img-desktop-2.avif
              "
              media="(width >= 1024px)"
              type="image/avif"
            />
            <source
              srcset="
                https://raw.githubusercontent.com/mobalti/open-props-interfaces/main/stories-with-scroll-driven/images/img-mobile-2.avif
              "
              type="image/avif"
            />

            <source
              srcset="
                https://raw.githubusercontent.com/mobalti/open-props-interfaces/main/stories-with-scroll-driven/images/img-desktop-2.webp
              "
              media="(width >= 1024px)"
              type="image/webp"
            />
            <img
              src="https://raw.githubusercontent.com/mobalti/open-props-interfaces/main/stories-with-scroll-driven/images/img-mobile-2.webp"
              alt="Celebrating Life Together"
            />
          </picture>
          <picture class="ThirdPic">
            <source
              srcset="
                https://raw.githubusercontent.com/mobalti/open-props-interfaces/main/stories-with-scroll-driven/images/img-desktop-1.avif
              "
              media="(width >= 1024px)"
              type="image/avif"
            />
            <source
              srcset="
                https://raw.githubusercontent.com/mobalti/open-props-interfaces/main/stories-with-scroll-driven/images/img-mobile-1.avif
              "
              type="image/avif"
            />

            <source
              srcset="
                https://raw.githubusercontent.com/mobalti/open-props-interfaces/main/stories-with-scroll-driven/images/img-desktop-1.webp
              "
              media="(width >= 1024px)"
              type="image/webp"
            />
            <img
              src="https://raw.githubusercontent.com/mobalti/open-props-interfaces/main/stories-with-scroll-driven/images/img-mobile-1.webp"
              alt="The Art of Giving"
            />
          </picture>
        </div>
      </div>

      <div class="Content block">
        <div id="StoriesUnveiled" class="FirstLockup block-center-start">
          <div class="block gap-3">
            <h3>Stories Unveiled</h3>
            <div class="subhead">
              Capture the essence of family celebration.
            </div>
            <p>Share the moments that weave your family tale.</p>
          </div>
        </div>
        <div
          id="CelebratingLifeTogether"
          class="SecondLockup block-center-start"
        >
          <div class="block gap-3">
            <h3>Celebrating Life Together</h3>
            <div class="subhead">Embrace the significance of shared joy.</div>
            <p>In every celebration, find the heartwarming stories.</p>
          </div>
        </div>
        <div id="TheArtofGiving" class="ThirdLockup block-center-start">
          <div class="block gap-3">
            <h3>The Art of Giving</h3>
            <div class="subhead">
              Explore the stories within each present.
            </div>
            <p>Every gift is a chapter in your family's narrative.</p>
          </div>
        </div>
      </div>

      <div class="SmallScreenContent block-center-center">
        <p class="FirstStory">The Art of Giving</p>
        <p class="SecondStory">Celebrating Life Together</p>
        <p class="ThirdStory">Stories Unveiled</p>
      </div>
    </section>

    <div class="pagination block-center-center content-full">
      <div class="inline gap-3">
        <a href="#StoriesUnveiled"></a>
        <a href="#CelebratingLifeTogether"></a>
        <a href="#TheArtofGiving"></a>
      </div>
    </div>
  </main>
</body> -->


<section class="bg-">
  <div class="box-padding">
    <svg width="41" height="40" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M31.932 0H0.5L4.27802 10.4938H30.056V36.2469L40.451 40V8.5679C40.438 6.30803 39.538 4.14363 37.944 2.54102C36.351 0.938412 34.192 0.0258653 31.932 0Z"
        fill="black" />
    </svg>
    <h3 class="journy"> Your story is unique; your <span>Journey</span> shouldn’t be walked alone</h3>
    <div class="loop-slider">
      <div class="item">
        <div class="box-slider">
          <div class="qutes">
            <img src="assets/images/quotes-svgrepo-com.svg" />
          </div>
          <div class="slider-content">
            <h3>Your Past</h3>
            <p>Every decision you've made has built the foundation of where you stand today. Max Evolve honors this
              legacy
              by analyzing past choices, identifying strengths, and solidifying your groundwork to prepare for what lies
              ahead.</p>

          </div>
        </div>
        <div class="bottom-box">
          <h5> Build On Strength </h5>
        </div>
      </div>
      <div class="item">
        <div class="box-slider">
          <div class="qutes">
            <img src="assets/images/quotes-svgrepo-com.svg" />
          </div>
          <div class="slider-content">
            <h3>Your Present</h3>
            <p>Today’s business landscape is full of opportunities, and Max Evolve knows how to seize them. With a
              strategic approach that reflects your current position, we design actionable plans—whether for commercial
              lending, estate planning, or restructuring—to support your immediate goals and future readiness. </p>


          </div>
        </div>
        <div class="bottom-box">
          <h5> Seize Opportunity </h5>
        </div>
      </div>
      <div class="item">
        <div class="box-slider">
          <div class="qutes">
            <img src="assets/images/quotes-svgrepo-com.svg" />
          </div>
          <div class="slider-content">
            <h3>Your Future</h3>
            <p>Your vision for tomorrow deserves more than just a roadmap; it deserves precision. Max Evolve’s tailored
              strategies bring you the clarity, foresight, and momentum to turn ambition into achievement, with every
              step
              purposefully aligned to reach the next milestone. </p>
          </div>
        </div>
        <div class="bottom-box">
          <h5> Shape Tomorrow </h5>
        </div>
      </div>
    </div>

    <h3 class="mt -mt3"> Max Evolve: where today’s ambition <span>shapes</span> tomorrow’s legacy </h3>
  </div>
</section>



<section class="box-bg">
  <div class="box-padding ready-conar">
    <svg width="41" height="40" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M31.932 0H0.5L4.27802 10.4938H30.056V36.2469L40.451 40V8.5679C40.438 6.30803 39.538 4.14363 37.944 2.54102C36.351 0.938412 34.192 0.0258653 31.932 0Z"
        fill="black" />
    </svg>
    <h3 class="journy">Ready to Grow? Let Max Evolve <span>Guide</span> the Way.</h3>
    <div class="loop-slider">
      <div class="cardin-flip">
        <div class="flip-card">
          <div class="flip-front">
            <h3>Commercial Lending - Business Proposals</h3>
          </div>

          <div class="flip-back slider-content">
            <div class="qutes">
              <img src="assets/images/quotes-svgrepo-com.svg" />
            </div>
            <h3>What does your next big step look like?</h3>
            <p>When opportunity knocks, a solid financial foundation can make all the difference. Our Commercial Lending
              services help you turn potential into power with tailored business proposals designed to meet your needs.
              From expansion plans to new investments, we’re here to ensure your strategy is strong, sustainable, and
              ready to thrive. Let’s map out the financing that makes your vision a reality.</p>
          </div>
        </div>
      </div>

      <div class="cardin-flip">
        <div class="flip-card">
          <div class="flip-front">
            <h3>Estate Planning</h3>
          </div>

          <div class="flip-back slider-content">
            <div class="qutes">
              <img src="assets/images/quotes-svgrepo-com.svg" />
            </div>
            <h3>How will your legacy speak?</h3>
            <p>You’ve worked hard to build what you have, and passing it on should be intentional, not accidental. Our
              Estate Planning services focus on creating a roadmap that reflects your values and secures your family’s
              future. From trust management to minimizing taxes, we’ll guide you through the options to ensure that your
              wishes are fulfilled and your legacy preserved. Let’s bring clarity to your vision for the future.</p>
          </div>
        </div>
      </div>

      <div class="cardin-flip">
        <div class="flip-card">
          <div class="flip-front">
            <h3>Succession Planning </h3>
          </div>

          <div class="flip-back slider-content">
            <div class="qutes">
              <img src="assets/images/quotes-svgrepo-com.svg" />
            </div>
            <h3>What’s the next chapter for your business?</h3>
            <p>A business is more than numbers; it’s a vision that deserves to be carried forward with purpose. Max
              Evolve’s Succession Planning services are designed to protect what you’ve built while preparing the next
              generation to lead with confidence. From defining roles and responsibilities to creating transition plans
              that reflect your values, we help your business succeed beyond today. Together, we’ll write the next
              chapter
              with foresight and care.</p>
          </div>
        </div>
      </div>

      <div class="cardin-flip">
        <div class="flip-card">
          <div class="flip-front">
            <h3>Organization Planning</h3>
          </div>

          <div class="flip-back slider-content">
            <div class="qutes">
              <img src="assets/images/quotes-svgrepo-com.svg" />
            </div>
            <h3>Is your structure ready for tomorrow’s challenges?</h3>
            <p>Businesses evolve, and so should their structures. Max Evolve’s Organization Planning services focus on
              aligning your company’s structure with your strategic goals. From revising shareholder agreements to
              defining clear roles and responsibilities, we bring clarity and efficiency to your organization. Whether
              you’re expanding or fine-tuning, we help you build a structure that’s resilient, adaptable, and ready for
              the future.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="footer-logo">
    <div class="container">
      <div class="negative-footer-logo">
        <a routerLink="/"><img src="assets/images/Untitled design.png" alt="Untitled design"></a>
      </div>
    </div>
  </div>
</section>