

<!--------------------footer---------------------------->

<footer class="boarding-pass" id="footer">
  <div class="ticket-left">
    <div class="barcode">
      <svg width="52" height="249" viewBox="0 0 20 249" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 1)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 127)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 64)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 190)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 32)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 158)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 95)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 221)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 16)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 142)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 79)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 205)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 48)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 174)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 111)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 237)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 4)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 130)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 67)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 193)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 36)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 162)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 99)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 225)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 20)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 146)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 83)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 209)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 52)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 178)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 115)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 241)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 8)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 134)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 71)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 197)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 40)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 166)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 103)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 229)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 24)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 150)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 87)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 213)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 56)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 182)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 119)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 245)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 12)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 138)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 75)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 201)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 44)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 170)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 107)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 233)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 28)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 154)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 91)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 217)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 60)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 186)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 123)" fill="#fff" />
        <rect width="52" height="1" transform="matrix(1 0 0 -1 0 249)" fill="#fff" />
      </svg>
      <img src="assets/images/sckenar.svg">

    </div>
    <div class="ticket-content">
      <div class="letsstared">
        <h1>Let's get started</h1>
    
      </div>
      <div class="flight-info">
        <span>MEFIN24 PARTNER</span>
      </div>
      <table class="boarding-info">
        <thead>
          <tr>
            <th>STATUS</th>
            <th>SEAT</th>
            <th >GROUP</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>NOW BOARDING</td>
            <td>
              <div class="footer-nov"> 
              <nav>
                <ul>
                  <li class="menu-item"><a href="#" class="link style-2">
                    <span class="mask">
                      <div class="link-container">
                        <span class="link-title1 title Legal">Legal</span> 
                        <span class="link-title2 title">Legal</span>
                      </div>
                    </span>
                  </a>
                  <div class="privacy-menu">
                    <div class="mega-menu-column"> 
                      <a routerLink="privacy" target="_blank" >Privacy Policy</a>
                      <a routerLink="terms" target="_blank" routerLinkActive="active">Terms and Conditions</a>
                      <a routerLink="restricted" target="_blank" routerLinkActive="active">Restricted Industries</a>
                    </div>
                  </div>
          
                </li>
                </ul>
              </nav>
            </div>
          </td>
            <td >FIRST CLASS</td>
          </tr>
        </tbody>
      </table>
      <div class="details">
        <div class="qr-code">
          <img src="assets/images/maxevolve_linktree_custom_qr_code.png" alt="Scan to visit our Linktree" />
        </div>
       
      </div>
      <div class="notes">  
        <p> <span>Note:</span><br>  By using this website and providing personal information to Max Evolve Financial Services, you confirm your consent to the collection, use, and disclosure of your information as outlined in our Terms and Conditions and Privacy Policy, in compliance with the laws of Alberta, Canada, and the Canadian Anti-Spam Legislation (CASL). Your engagement with this site constitutes unconditional acceptance of these terms.</p> 
         </div>  
         <div class="Privacy">
          <p>ME™ is a pending trademark of Max Evolve Financial Services Inc.<br> All rights reserved. © 2024 Max Evolve</p>
        </div>
    </div>
  </div>
  <div class="ticket-right">
    <div class="rnw">
      <p>MEFIN24</p>
      <p>
       Today's Date: {{ todayDate }}
      </p>
    </div>

    <form>
      <div class="form-group">
        <label for="first-name">First Name</label>
        <input type="text" id="first-name" name="first-name" />
      </div>
      <div class="form-group">
        <label for="last-name">Last Name</label>
        <input type="text" id="last-name" name="last-name" />
      </div>
      <div class="form-group">
        <label for="work-email">Work Email</label>
        <input type="email" id="work-email" name="work-email" />
      </div>
      <div class="form-group">
        <label for="job-title">Job Title</label>
        <input type="text" id="job-title" name="job-title" />
      </div>
      <div class="form-group">
        <label for="Message">Message</label>
        <input type="text" id="Message" name="Message" />
      </div>


      <a  class="PrimaryButton__StyledUniversalLink-sc-r4xqiq-1 kDrpEx Form__Button-sc-1z0ixjd-9 ecPLGn"
      style="cursor: pointer;"> 
      Get Access
      <svg class="PrimaryButton__Circle-sc-r4xqiq-0 gfZKzG" viewBox="0 0 33 32" fill="none"
           xmlns="http://www.w3.org/2000/svg" class="PrimaryButton__ButtonArrow-sc-r4xqiq-2 gfXRli">
        <path
           d="M17.086 0.424667L32.4375 15.8262L17.0847 31.2277L8.37224 31.2277L20.6941 18.9058L0.408366 18.9058L0.408367 12.7452L20.6941 12.7452L8.37361 0.424666L17.086 0.424667Z"
           fill="#ADD8E6">
        </path>
      </svg>
   </a>
   

    </form>

  </div>
</footer>
<!------------------------Footer End----------------------------------->



