        
        
        <div class="Priority">
            <div class="container">
                <div class="main-flex">
            <div class="Legal">
                <h1>Terms & Conditions</h1>
            <h2>The Fine Print: Your Consent, Our Commitment to Mutual Protection.</h2>
            </div>
            <div class="layout-flow">
              <img src="assets/images/terms-&-conditons.jpg">
            </div>
            </div>
            
            <div class="overview-contant">
              <h6>1. Max Evolve Financial Services Inc. Terms and Conditions</h6>
              <p> The Max Evolve Financial Services Inc. website (defined as the “Website”) and its services (each as defined below) are operated by Max Evolve Financial Services Inc. (collectively, “Max Evolve,” “we,” “us,” or “our”). Max Evolve is a business consultancy firm specializing in creating Business Proposals, Estate Planning, Succession Planning, and Organizational Structure consultations for clients (“Services”). Max Evolve is not a broker, investment advisor, or financial planner, and does not provide financial, securities, legal, or tax advice. Clients are encouraged to seek advice from their own tax lawyers, estate planning lawyers, CPAs, and CFPs for any decisions. By using our services, you accept that you are responsible for conducting your due diligence.</p>
               

                <h6>2. Accepting the Terms</h6>
                <p>
                By using our Website (www.maxevolve.ca) or by engaging Max Evolve’s Services, you acknowledge that you have read, understood, and agree to be bound by these terms and conditions (“Agreement”). This Agreement covers any and all engagements with Max Evolve for Business Proposals, Estate Planning, Succession Planning, or Organizational Structure consultancy services.</p>

               <h6> 3. Proprietary Rights and Confidentiality</h6>
               <p>
                All materials, ideas, and suggestions provided by Max Evolve are proprietary. The client consents unconditionally to Max Evolve's exclusive ownership of these materials. This means that our proprietary materials, including proposals, plans, and strategies, are for internal use only and will not be shared with clients. By using our Services, clients agree to this condition unconditionally.</p>

                <h6>4. No Legal Liability and Due Diligence</h6>
                <p>
                Max Evolve provides insights and suggestions based on client profiles but does not verify or validate any documentation the client may have with their own legal or financial advisors, including tax lawyers, estate planners, CPAs, or CFPs. Max Evolve assumes clients have consulted their own professionals and have completed all due diligence before engaging our services. We are not legally responsible for client documentation accuracy or legal validity and recommend clients independently verify any advice received.</p>

                <h6>5. Conflict of Interest and Client Consent</h6>
                <p>
                Clients acknowledge and consent to Max Evolve's services without restriction and with full knowledge of any potential conflicts of interest. Should a conflict arise, the client consents unconditionally to continue using Max Evolve’s services. All terms will be relayed to the client, and further unconditional consent will be required if necessary.</p>

            <h6>    6. Accuracy and Integrity of Client Documentation</h6>
            <p>
                Max Evolve requires clients to submit all documents with honesty, integrity, and in good faith. Clients are responsible for ensuring that all provided information is accurate, complete, and true. By using our services, clients are legally binding themselves to the accuracy of all documents submitted. Should any fraudulent information be identified, Max Evolve reserves the right to terminate services immediately, report to relevant authorities (including RCMP and other compliance bodies), and cooperate fully with any investigation as required under Canadian financial laws. In such cases, Max Evolve will share all relevant documents and data with authorities as per the client's privacy consent agreement.</p>

             <h6>   7. Privacy, Personal, and Company Information</h6>
             <p>
                For information on Max Evolve's data protection practices, please refer to our Privacy Policy, which explains how we collect, treat, and protect your personal and company information. By engaging with Max Evolve, you consent to this policy and agree that we may update it periodically.</p>

              <h6>  8. CASL and Electronic Communications</h6>
              <p>
                Max Evolve complies with the Canadian Anti-Spam Legislation (CASL) and requires clients to consent to receive communications via email or electronic means. By engaging with Max Evolve, you agree to receive electronic communications related to our Services. Clients may withdraw consent by contacting us at <a href="mailto:partner@maxevolve.ca" >partner&#64;maxevolve.ca</a>, but please note that withdrawing consent may affect your ability to fully utilize our Services.</p>

           <h6>     9. Electronic Signature</h6>
           <p>
                Clients consent to the use of electronic signatures for all agreements, documents, and transactions with Max Evolve. By providing an electronic signature, clients agree that it has the same legal effect as a handwritten signature. Electronic consent may be withdrawn by notifying us in writing, but any previously signed electronic agreements will remain valid and binding.</p>

            <h6>    10. Security of Information</h6>
            <p>
                Max Evolve prioritizes the security of client information. We implement industry-standard security protocols to safeguard your data. However, clients are responsible for ensuring the security of their own devices and email accounts when communicating electronically with Max Evolve.</p>

             <h6>   11. Use of Third-Party Sites or Content</h6>
             <p>
                Our Website and Services may contain links to third-party sites, such as professional advisors or industry resources, for your convenience. Max Evolve is not responsible for the content or privacy practices of any third-party site. Engaging with third-party sites is solely at your discretion, and Max Evolve is not liable for the products or services offered by such third parties.</p>

              <h6>  12. Entire Agreement and Binding Terms </h6>
              <p>
                This Agreement constitutes the entire agreement between you and Max Evolve Financial Services Inc. and supersedes all prior agreements. By engaging with Max Evolve, you agree to be legally bound by the terms herein. This Agreement may only be amended with written consent from Max Evolve.</p>

            <h6>    13. Compliance and Investigations</h6>
            <p>
                In cases of suspected fraud or misrepresentation, Max Evolve will work with financial institutions, regulatory bodies, and authorities as required by Canadian financial laws. If any fraudulent activity is identified, Max Evolve will terminate the client relationship immediately, and the privacy consent authorizes us to share all relevant documentation with investigative authorities without any liability on our part.</p>

            <h6>    14. Limitation of Liability</h6>
            <p>
                To the maximum extent permitted by law, Max Evolve Financial Services Inc., including its directors, employees, and agents, shall not be liable for any damages (including direct, indirect, incidental, or consequential) resulting from the use of our Website or Services. Max Evolve disclaims any warranties, express or implied, regarding the accuracy or completeness of content on our Website or as part of our Services. Any actions taken by clients based on our recommendations are at their own risk.</p>

              <h6>  15. Governing Law and Jurisdiction</h6>
              <p>
                These Terms and Conditions are governed by the laws of Alberta, Canada, and any disputes will be handled exclusively within Alberta’s jurisdiction. By using our Services, you consent to this governing law and jurisdiction.</p>

               <p> Contact Information</p>
               <p> For questions regarding these Terms and Conditions, please contact us at:</p>

              <p>  Max Evolve Financial Services Inc.</p>
              <p>  Website: <a href="www.maxevolve.ca">www.maxevolve.ca</a></p>
              <p>  Email: <a href="mailto:partner@maxevolve.ca" >partner&#64;maxevolve.ca</a></p>
              <p>ME™ is a pending trademark of
                Max Evolve Financial Services Inc.
                All rights reserved.</p>
                <p>© 2024 Max Evolve</p>

            </div>




        </div>
</div>