.cards {
    padding: 30px;
    background-color: #087c99;
    border-radius: 10px;
    text-align: left;
    color: #fff;
}

.card-header span {
    font-size: 1.2em;
    margin-right: 10px;
    border-radius: 5px; 
}
.card-number {
    font-size: 2em;
    font-weight: bold;
    color: #000000;
}
.bg-goals {
    background-color: #fff;
    padding-top: 40px;
}
.industries {
    background-color: #6aa1b3;
}
.first-box {
    width: 30%;
}
.card-content {
    font-size: 0.9em;
    line-height: 1.6;
    margin-top: 15px;
}

.site-corpot {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 30px;
}
.implementation{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 30px;
    padding-top: 60px;
    padding-bottom: 60px;   
}
.our-exprtis{
    margin-bottom: 100px;
    font-size: 50px;
    margin-left: 317px;
}
.our-exprtis span {
    margin-left: 100px;
}
.bg-infos {
    background-color: #0F3464;
    padding-bottom: 100px;
    padding-top: 100px;
}

span {
    color: #e9ee26;
}
.right-item li {
    text-align: right;
}

@media (max-width: 768px) {
    .first-box {
        width: 100%;
      }
      .our-exprtis {
        font-size: 30px;
        margin-left: 30px;
        margin-bottom: 0;

    } 
    .bg-infos {
        padding-bottom: 40px;
        padding-top: 40px;
    } 
    .preferred {
        padding-top: 120px;
    }
}










.o{
    background: black;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .containersdd{
    height: 300px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -150px;
  }
  
  .square{
    height: 40%;
    width: 30%;
    background: white;
    position: absolute;
    top: 136%;
    left: 90%;
    margin: -40% 0 0 -31%;
}
  
  .black{  
    animation: rotate 20s infinite linear; 
  }
  
//   @keyframes rotate{
//     0%{ transform: rotate(0deg); }
//       100%{ transform: rotate(360deg); }	
//   }

/************how to ***************/


:root {
    --card-height: 40vw;
    --card-margin: 4vw;
    --card-top-offset: 1em;
    --numcards: 4;
    --outline-width: 0px;
  }
  .howtoworks {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}
  

  
  #card-1 {
    --index: 1;
  }
  
  #card-2 {
    --index: 2;
  }
  
  #card-3 {
    --index: 3;
  }
  
  #card-4 {
    --index: 4;
  }
  
  .card {
    position: sticky;
    top: 100px;
    padding-top: calc(var(--index) * var(--card-top-offset));
    border-radius: 4rem;
    margin: 20px 0px;
  }
  .work-it span {
    position: absolute;
    top: 30px;
}
  .work-it {
    box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
    background: #ffffff;
    color: #131212;
    border-radius: 3rem;
    overflow: hidden;
    display:flex;
align-items: center;
justify-content: space-between;
    padding: 6.4em;
  }
  
  .work-it > div {
    grid-area: text;
    width: 95%;
    max-width: 800px;
    place-self: center;
    text-align: left;
    display: grid;
    gap: 1em;
    place-items: start;
  }
  .work-it .content-stik.tow {
    justify-content: end;
}
  .work-it > figure {
    grid-area: img;
    overflow: hidden;
  }
  
  .work-it > figure > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .4em;
  }











