<!---Tab middle  -->
<section class="industries">
    <div class="container">
      <div class="preferred">
        <!---Tab left -->
        <div class="preferred-item">
          <ul class="left-item tabsSystem">
            <li data-aos="fade-left" data-aos-duration="500"><a href="javascript:void(0);" data-id="automotive"
                class="active" (click)="setActiveTab('automotive')" [class.active]="activeTab === 'automotive'">Unlock
                Possibilities</a></li>
            <li data-aos="fade-left" data-aos-duration="500"><a href="javascript:void(0);" data-id="off-highway"
                (click)="setActiveTab('off-highway')" [class.active]="activeTab === 'off-highway'">Engage</a></li>
            <li data-aos="fade-left" data-aos-duration="500"><a href="javascript:void(0);" data-id="fmcg"
                (click)="setActiveTab('fmcg')" [class.active]="activeTab === 'fmcg'">Implement</a></li>
          </ul>
        </div>
        <!---Tab left End  -->
        <!---Tab middle  -->
        <div class="preferred-medial" data-aos="fade-top-zoom" data-aos-easing="linear" data-aos-duration="1500">
          <div class="first-cril">
            <img src="assets/images/circal1.png">
          </div>
          <div class="first-cril-1">
            <img src="assets/images/circal2.png">
          </div>
          <div class="first-cril-2">
            <img src="assets/images/circal3.png">
          </div>
          <div class="first-cril-3">
            <div class="TabPanel">
              <div class="TabPanelItem" id="automotive" *ngIf="activeTab === 'automotive'">
                <img src="assets/images/motorway.png">
                <p>See how Max Evolve transforms visions into actions.<br> Your Journey starts with a call, email or a
                  connection.​</p>
              </div>
              <div class="TabPanelItem" id="off-highway" *ngIf="activeTab === 'off-highway'">
                <img src="assets/images/motorway.png">
                <p> Make the first move. Reach out. <br>Share your goals. We’ll make things happen.
                </p>
              </div>
  
              <div class="TabPanelItem" id="fmcg" *ngIf="activeTab === 'fmcg'">
                <img src="assets/images/salad.png">
                <p> Activate your plan. Let’s set your dream in motion and watch it unfold.​
                </p>
              </div>
              <div class="TabPanelItem" id="industrial" *ngIf="activeTab === 'industrial'">
                <img src="assets/images/factory.png">
                <p> Tailored to you. We co-create strategies designed for your business’s success​
                </p>
              </div>
              <div class="TabPanelItem" id="aerospace" *ngIf="activeTab === 'aerospace'">
                <img src="assets/images/air-freight.png">
                <p> Fuel the future, With Max Evolve growth is just the beginning​</p>
              </div>
  
  
            </div>
          </div>
        </div>
        <!---Tab middle  -->
  
        <!---Tab right  -->
        <div class="preferred-item">
          <ul class="right-item tabsSystem">
            <li data-aos="fade-right" data-aos-duration="500"><a href="javascript:void(0);" data-id="industrial"
                (click)="setActiveTab('industrial')" [class.active]="activeTab === 'industrial'">Collaborate</a></li>
            <li data-aos="fade-right" data-aos-duration="500"><a href="javascript:void(0);" data-id="aerospace"
                (click)="setActiveTab('aerospace')" [class.active]="activeTab === 'aerospace'">Grow</a></li>
          </ul>
        </div>
        <!---Tab right  -->
      </div>
    </div>
  </section>
  

  <section>
    <div class="financial">
      <div class="container">
        <div class="flex">
        <div class="text-finacial">
          <h3>Connect with Us </h3>
          <p>Whether you’re launching a new venture, planning a family legacy, or seeking insight for organizational change, reach out to Max Evolve. Share your goals, and let’s begin crafting your path forward</p>
        </div>
  
        <div class="text-finacial">
          <h3>We’ll Craft the Perfect Solution  </h3>
          <p>With a deep understanding of your unique needs, our team will develop a customized strategy, leveraging our expertise in commercial lending, business consultancy, and planning to serve your vision.</p>
        </div>
  
        <div class="text-finacial">
          <h3>Expect Quick and Clear Communication </h3>
          <p>We value your time and ambitions. Once we’ve shaped the ideal approach, we’ll connect with you promptly, so you can move ahead with clarity and confidence.
          </p>
        </div>
  
        <div class="text-finacial">
          <h3>Look Forward to Results </h3>
          <p>Relax as we finalize the details. Whether it’s securing funds, aligning strategies, or implementing plans, we’re ready to activate your journey on your terms and timeline.
          </p>
        </div>
  
      </div>
      </div>
    </div>
  </section>
  <!---Tab middle  -->

  <div class="bg-infos">
    <div class="container">
      <h2 class="our-exprtis">Our Expertise <br> <span>in a Nutshell </span> </h2>
      <div class="card-container">
        <div class="site-corpot">
        <div class="first-box"></div>
        <div class="first-box">
          <span class="card-number">/01</span>
          <div class="cards">
              <div class="card-header">
                  <span>Commercial Lending: Fuel Your Next Big Move</span>
              </div>
              <div class="card-content">
                 <p>"Your ambitions are limitless—let us help you finance them."</p>
              </div>
          </div>
          </div>
          <div class="first-box">
            <span class="card-number">/02</span>
          <div class="cards">
              <div class="card-header">
                  <span>Succession Planning: Preserve Your Legacy with Purpose</span>
              </div>
              <div class="card-content">
                  <p>"Your legacy deserves careful planning—empower the next generation with confidence."</p>
              </div>
          </div>
          </div>
        </div>
        <div class=" implementation">
          <div class="first-box">
            <span class="card-number">/03</span>
          <div class="cards">
              <div class="card-header">
                  <span>Estate Planning: Protect What Matters Most</span>
              </div>
              <div class="card-content">
                  <p>"Your life’s work is your legacy—let’s secure it for generations."</p>
              </div>
          </div>
          </div>
          <div class="first-box">
            <span class="card-number">/04</span>
          <div class="cards">
              <div class="card-header">
                  <span>Retirement Planning: Dream Big, Retire Confidently</span>
                 
              </div>
              <div class="card-content">
                 <p>"Retirement is a new chapter—plan for it with clarity and purpose."</p>
              </div>
          </div>
          </div>
        </div>
  
        <div class="site-corpot">
          <div class="first-box"></div>
          <div class="first-box">
            <span class="card-number">/05</span>
            <div class="cards">
                <div class="card-header">
                    <span>Organization Restructure: Evolve and Thrive</span>
                </div>
                <div class="card-content">
               <p>"Your business is dynamic—let’s structure it to thrive."</p>
                </div>
            </div>
            </div>
            <div class="first-box">
              <span class="card-number">/06</span>
            <div class="cards">
                <div class="card-header">
                    <span>Commercial Loans: Fuel Your Ambition</span>
                </div>
                <div class="card-content">
                    <p>"Business growth needs fuel—Max Evolve provides it."</p>
                </div>
            </div>
            </div>
          </div>
      </div>
      </div>
  </div>

  <section class="how-it-works">
    <div class="container">
      <div class="steps-container">
        <div class="coner-icon-right">
        <img src="assets/images/coner-icon.svg">
        </div>
        <h3 class="journy" data-aos="zoom-in"> <span>How</span> it Works</h3>
        <div class="application">
          <div class="stepscontant">
            <div class="step-number">#1.</div>
            <h2>Start Application & Lock Rate</h2>
            <p>Talk to one of our knowledgeable Loan Officers to explore your options and lock your rate.</p>
            <div class="lins-dotars">
              <svg width="550" height="400" viewBox="0 0 1928 1066" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="6" height="28" fill="#484848" />
                <rect y="38" width="6" height="28" fill="#484848" />
                <rect y="76" width="6" height="28" fill="#484848" />
                <rect y="114" width="6" height="28" fill="#484848" />
                <rect y="152" width="6" height="28" fill="#484848" />
                <rect y="190" width="6" height="28" fill="#484848" />
                <rect y="228" width="6" height="28" fill="#484848" />
                <rect y="266" width="6" height="28" fill="#484848" />
                <rect y="304" width="6" height="28" fill="#484848" />
                <rect y="342" width="6" height="28" fill="#484848" />
                <rect y="380" width="6" height="28" fill="#484848" />
                <rect y="418" width="6" height="28" fill="#484848" />
                <rect y="456" width="6" height="28" fill="#484848" />
                <rect y="494" width="6" height="28" fill="#484848" />
                <rect y="532" width="6" height="28" fill="#484848" />
                <rect y="570" width="6" height="28" fill="#484848" />
                <rect x="172.013" y="761.061" width="6" height="28" transform="rotate(-90.1258 172.013 761.061)"
                  fill="#484848" />
                <rect x="211.013" y="761.061" width="6" height="28" transform="rotate(-90.1258 211.013 761.061)"
                  fill="#484848" />
                <rect x="250.013" y="761.061" width="6" height="28" transform="rotate(-90.1258 250.013 761.061)"
                  fill="#484848" />
                <rect x="289.013" y="761.061" width="6" height="28" transform="rotate(-90.1258 289.013 761.061)"
                  fill="#484848" />
                <rect x="406.013" y="761.061" width="6" height="28" transform="rotate(-90.1258 406.013 761.061)"
                  fill="#484848" />
                <rect x="601.013" y="761.061" width="6" height="28" transform="rotate(-90.1258 601.013 761.061)"
                  fill="#484848" />
                <rect x="796.013" y="761.061" width="6" height="28" transform="rotate(-90.1258 796.013 761.061)"
                  fill="#484848" />
                <rect x="991.013" y="761.061" width="6" height="28" transform="rotate(-90.1258 991.013 761.061)"
                  fill="#484848" />
                <rect x="1186.01" y="761.061" width="6" height="28" transform="rotate(-90.1258 1186.01 761.061)"
                  fill="#484848" />
                <rect x="1381.01" y="761.061" width="6" height="28" transform="rotate(-90.1258 1381.01 761.061)"
                  fill="#484848" />
                <rect x="1574.01" y="761.061" width="6" height="28" transform="rotate(-90.1258 1574.01 761.061)"
                  fill="#484848" />
                <path d="M1769.01 760.969L1769 754.969L1797 754.907L1797 760.974L1769.01 760.969Z" fill="#484848" />
                <path d="M1805 760.64L1806 756.217L1830.5 763.153L1828.5 767.153L1805 760.64Z" fill="#484848" />
                <path d="M1839.5 770.887L1842 767.387L1859 777.387L1856 780.88L1839.5 770.887Z" fill="#484848" />
                <path d="M1865.5 787.143L1868.5 784.143L1880.5 794.643L1877 797.143L1865.5 787.143Z" fill="#484848" />
                <path d="M1884 803.981L1887 800.981L1898.5 814.482L1895.5 816.989L1884 803.981Z" fill="#484848" />
                <path d="M1900.5 823.953L1904 821.953L1912.5 836.953L1908 838.451L1900.5 823.953Z" fill="#484848" />
                <path d="M1911.5 844.98L1915 843.48L1920.5 858.98L1916 859.977L1911.5 844.98Z" fill="#484848" />
                <path d="M1918.5 866.49L1922 865.49L1925.5 880.99L1921.5 881.99L1918.5 866.49Z" fill="#484848" />
                <rect x="328.013" y="761.061" width="6" height="28" transform="rotate(-90.1258 328.013 761.061)"
                  fill="#484848" />
                <rect x="523.013" y="761.061" width="6" height="28" transform="rotate(-90.1258 523.013 761.061)"
                  fill="#484848" />
                <rect x="718.013" y="761.061" width="6" height="28" transform="rotate(-90.1258 718.013 761.061)"
                  fill="#484848" />
                <rect x="913.013" y="761.061" width="6" height="28" transform="rotate(-90.1258 913.013 761.061)"
                  fill="#484848" />
                <rect x="1108.01" y="761.061" width="6" height="28" transform="rotate(-90.1258 1108.01 761.061)"
                  fill="#484848" />
                <rect x="1303.01" y="761.061" width="6" height="28" transform="rotate(-90.1258 1303.01 761.061)"
                  fill="#484848" />
                <rect x="1496.01" y="761.061" width="6" height="28" transform="rotate(-90.1258 1496.01 761.061)"
                  fill="#484848" />
                <rect x="1691.01" y="761.061" width="6" height="28" transform="rotate(-90.1258 1691.01 761.061)"
                  fill="#484848" />
                <rect x="1922" y="964" width="6" height="28" fill="#484848" />
                <rect x="1922" y="1038" width="6" height="28" fill="#484848" />
                <rect x="445.013" y="761.061" width="6" height="28" transform="rotate(-90.1258 445.013 761.061)"
                  fill="#484848" />
                <rect x="640.013" y="761.061" width="6" height="28" transform="rotate(-90.1258 640.013 761.061)"
                  fill="#484848" />
                <rect x="835.013" y="761.061" width="6" height="28" transform="rotate(-90.1258 835.013 761.061)"
                  fill="#484848" />
                <rect x="1030.01" y="761.061" width="6" height="28" transform="rotate(-90.1258 1030.01 761.061)"
                  fill="#484848" />
                <rect x="1225.01" y="761.061" width="6" height="28" transform="rotate(-90.1258 1225.01 761.061)"
                  fill="#484848" />
                <rect x="1420.01" y="761.061" width="6" height="28" transform="rotate(-90.1258 1420.01 761.061)"
                  fill="#484848" />
                <rect x="1613.01" y="761.061" width="6" height="28" transform="rotate(-90.1258 1613.01 761.061)"
                  fill="#484848" />
                <rect x="1922" y="891" width="6" height="28" fill="#484848" />
                <rect x="367.013" y="761.061" width="6" height="28" transform="rotate(-90.1258 367.013 761.061)"
                  fill="#484848" />
                <rect x="562.013" y="761.061" width="6" height="28" transform="rotate(-90.1258 562.013 761.061)"
                  fill="#484848" />
                <rect x="757.013" y="761.061" width="6" height="28" transform="rotate(-90.1258 757.013 761.061)"
                  fill="#484848" />
                <rect x="952.013" y="761.061" width="6" height="28" transform="rotate(-90.1258 952.013 761.061)"
                  fill="#484848" />
                <rect x="1147.01" y="761.061" width="6" height="28" transform="rotate(-90.1258 1147.01 761.061)"
                  fill="#484848" />
                <rect x="1342.01" y="761.061" width="6" height="28" transform="rotate(-90.1258 1342.01 761.061)"
                  fill="#484848" />
                <rect x="1535.01" y="761.061" width="6" height="28" transform="rotate(-90.1258 1535.01 761.061)"
                  fill="#484848" />
                <rect x="1730.01" y="761.061" width="6" height="28" transform="rotate(-90.1258 1730.01 761.061)"
                  fill="#484848" />
                <rect x="484.013" y="761.061" width="6" height="28" transform="rotate(-90.1258 484.013 761.061)"
                  fill="#484848" />
                <rect x="679.013" y="761.061" width="6" height="28" transform="rotate(-90.1258 679.013 761.061)"
                  fill="#484848" />
                <rect x="874.013" y="761.061" width="6" height="28" transform="rotate(-90.1258 874.013 761.061)"
                  fill="#484848" />
                <rect x="1069.01" y="761.061" width="6" height="28" transform="rotate(-90.1258 1069.01 761.061)"
                  fill="#484848" />
                <rect x="1264.01" y="761.061" width="6" height="28" transform="rotate(-90.1258 1264.01 761.061)"
                  fill="#484848" />
                <rect x="1459.01" y="761.061" width="6" height="28" transform="rotate(-90.1258 1459.01 761.061)"
                  fill="#484848" />
                <rect x="1652.01" y="761.061" width="6" height="28" transform="rotate(-90.1258 1652.01 761.061)"
                  fill="#484848" />
                <path d="M1922 929.998H1928V957.998H1922V929.998Z" fill="#484848" />
                <path d="M1922 998H1928V1026H1922V998Z" fill="#484848" />
                <path d="M0.969482 609.014L6.96948 609.01L10.4876 637.008L4.9876 637.011L0.969482 609.014Z"
                  fill="#484848" />
                <path d="M9.4944 647.508L13.4934 646.006L25.0093 670.498L21.0102 672.001L9.4944 647.508Z"
                  fill="#484848" />
                <path d="M27.0001 682L31.5001 679L45.5001 698.5L41.5001 701.5L27.0001 682Z" fill="#484848" />
                <path d="M49.5001 710L52.5001 706.5L69.0001 722.5L66.0001 726L49.5001 710Z" fill="#484848" />
                <path d="M77.0001 732.5L79.0001 729L98.5001 740L96.0001 743L77.0001 732.5Z" fill="#484848" />
                <path d="M109 748.5L111.5 744.5L130.5 752L129 755.5L109 748.5Z" fill="#484848" />
                <path d="M139.5 757.5L139.5 754L159 755.5L159 759.5L139.5 757.5Z" fill="#484848" />
              </svg>
            </div>
          </div>
          <div class="step">
            <img src="assets/images/application.jpg" alt="Start Application & Lock Rate">
          </div>
        </div>
        <div class="application">
          <div class="step">
            <div class="lins-dotars2">
              <svg width="550" height="400" viewBox="0 0 1928 1066" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="6" height="28" transform="matrix(-1 0 0 1 1928 0)" fill="#484848" />
                <rect width="6" height="28" transform="matrix(-1 0 0 1 1928 38)" fill="#484848" />
                <rect width="6" height="28" transform="matrix(-1 0 0 1 1928 76)" fill="#484848" />
                <rect width="6" height="28" transform="matrix(-1 0 0 1 1928 114)" fill="#484848" />
                <rect width="6" height="28" transform="matrix(-1 0 0 1 1928 152)" fill="#484848" />
                <rect width="6" height="28" transform="matrix(-1 0 0 1 1928 190)" fill="#484848" />
                <rect width="6" height="28" transform="matrix(-1 0 0 1 1928 228)" fill="#484848" />
                <rect width="6" height="28" transform="matrix(-1 0 0 1 1928 266)" fill="#484848" />
                <rect width="6" height="28" transform="matrix(-1 0 0 1 1928 304)" fill="#484848" />
                <rect width="6" height="28" transform="matrix(-1 0 0 1 1928 342)" fill="#484848" />
                <rect width="6" height="28" transform="matrix(-1 0 0 1 1928 380)" fill="#484848" />
                <rect width="6" height="28" transform="matrix(-1 0 0 1 1928 418)" fill="#484848" />
                <rect width="6" height="28" transform="matrix(-1 0 0 1 1928 456)" fill="#484848" />
                <rect width="6" height="28" transform="matrix(-1 0 0 1 1928 494)" fill="#484848" />
                <rect width="6" height="28" transform="matrix(-1 0 0 1 1928 532)" fill="#484848" />
                <rect width="6" height="28" transform="matrix(-1 0 0 1 1928 570)" fill="#484848" />
                <rect width="6" height="28" transform="matrix(0.00219538 -0.999998 -0.999998 -0.00219538 1755.99 761.061)"
                  fill="#484848" />
                <rect width="6" height="28" transform="matrix(0.00219538 -0.999998 -0.999998 -0.00219538 1716.99 761.061)"
                  fill="#484848" />
                <rect width="6" height="28" transform="matrix(0.00219538 -0.999998 -0.999998 -0.00219538 1677.99 761.061)"
                  fill="#484848" />
                <rect width="6" height="28" transform="matrix(0.00219538 -0.999998 -0.999998 -0.00219538 1638.99 761.061)"
                  fill="#484848" />
                <rect width="6" height="28" transform="matrix(0.00219538 -0.999998 -0.999998 -0.00219538 1521.99 761.061)"
                  fill="#484848" />
                <rect width="6" height="28" transform="matrix(0.00219538 -0.999998 -0.999998 -0.00219538 1326.99 761.061)"
                  fill="#484848" />
                <rect width="6" height="28" transform="matrix(0.00219538 -0.999998 -0.999998 -0.00219538 1131.99 761.061)"
                  fill="#484848" />
                <rect width="6" height="28" transform="matrix(0.00219538 -0.999998 -0.999998 -0.00219538 936.987 761.061)"
                  fill="#484848" />
                <rect width="6" height="28" transform="matrix(0.00219538 -0.999998 -0.999998 -0.00219538 741.987 761.061)"
                  fill="#484848" />
                <rect width="6" height="28" transform="matrix(0.00219538 -0.999998 -0.999998 -0.00219538 546.987 761.061)"
                  fill="#484848" />
                <rect width="6" height="28" transform="matrix(0.00219538 -0.999998 -0.999998 -0.00219538 353.987 761.061)"
                  fill="#484848" />
                <path d="M158.99 760.969L159.003 754.969L131.003 754.907L131.003 760.974L158.99 760.969Z"
                  fill="#484848" />
                <path d="M123.002 760.64L122.003 756.217L97.5027 763.153L99.5027 767.153L123.002 760.64Z"
                  fill="#484848" />
                <path d="M88.5027 770.887L86.0027 767.387L69.0027 777.387L72.0021 780.88L88.5027 770.887Z"
                  fill="#484848" />
                <path d="M62.5014 787.143L59.5014 784.143L47.5014 794.643L51.0014 797.143L62.5014 787.143Z"
                  fill="#484848" />
                <path d="M44.0019 803.981L41.0019 800.981L29.5021 814.482L32.5022 816.989L44.0019 803.981Z"
                  fill="#484848" />
                <path d="M27.5019 823.953L24.0019 821.953L15.5019 836.953L20.0019 838.451L27.5019 823.953Z"
                  fill="#484848" />
                <path d="M16.5029 844.98L13.0029 843.48L7.50291 858.98L12.0029 859.977L16.5029 844.98Z" fill="#484848" />
                <path d="M9.50147 866.49L6.00146 865.49L2.50146 880.99L6.50146 881.99L9.50147 866.49Z" fill="#484848" />
                <rect width="6" height="28" transform="matrix(0.00219538 -0.999998 -0.999998 -0.00219538 1599.99 761.061)"
                  fill="#484848" />
                <rect width="6" height="28" transform="matrix(0.00219538 -0.999998 -0.999998 -0.00219538 1404.99 761.061)"
                  fill="#484848" />
                <rect width="6" height="28" transform="matrix(0.00219538 -0.999998 -0.999998 -0.00219538 1209.99 761.061)"
                  fill="#484848" />
                <rect width="6" height="28" transform="matrix(0.00219538 -0.999998 -0.999998 -0.00219538 1014.99 761.061)"
                  fill="#484848" />
                <rect width="6" height="28" transform="matrix(0.00219538 -0.999998 -0.999998 -0.00219538 819.987 761.061)"
                  fill="#484848" />
                <rect width="6" height="28" transform="matrix(0.00219538 -0.999998 -0.999998 -0.00219538 624.987 761.061)"
                  fill="#484848" />
                <rect width="6" height="28" transform="matrix(0.00219538 -0.999998 -0.999998 -0.00219538 431.987 761.061)"
                  fill="#484848" />
                <rect width="6" height="28" transform="matrix(0.00219538 -0.999998 -0.999998 -0.00219538 236.987 761.061)"
                  fill="#484848" />
                <rect width="6" height="28" transform="matrix(-1 0 0 1 6 964)" fill="#484848" />
                <rect width="6" height="28" transform="matrix(-1 0 0 1 6 1038)" fill="#484848" />
                <rect width="6" height="28" transform="matrix(0.00219538 -0.999998 -0.999998 -0.00219538 1482.99 761.061)"
                  fill="#484848" />
                <rect width="6" height="28" transform="matrix(0.00219538 -0.999998 -0.999998 -0.00219538 1287.99 761.061)"
                  fill="#484848" />
                <rect width="6" height="28" transform="matrix(0.00219538 -0.999998 -0.999998 -0.00219538 1092.99 761.061)"
                  fill="#484848" />
                <rect width="6" height="28" transform="matrix(0.00219538 -0.999998 -0.999998 -0.00219538 897.987 761.061)"
                  fill="#484848" />
                <rect width="6" height="28" transform="matrix(0.00219538 -0.999998 -0.999998 -0.00219538 702.987 761.061)"
                  fill="#484848" />
                <rect width="6" height="28" transform="matrix(0.00219538 -0.999998 -0.999998 -0.00219538 507.987 761.061)"
                  fill="#484848" />
                <rect width="6" height="28" transform="matrix(0.00219538 -0.999998 -0.999998 -0.00219538 314.987 761.061)"
                  fill="#484848" />
                <rect width="6" height="28" transform="matrix(-1 0 0 1 6 891)" fill="#484848" />
                <rect width="6" height="28" transform="matrix(0.00219538 -0.999998 -0.999998 -0.00219538 1560.99 761.061)"
                  fill="#484848" />
                <rect width="6" height="28" transform="matrix(0.00219538 -0.999998 -0.999998 -0.00219538 1365.99 761.061)"
                  fill="#484848" />
                <rect width="6" height="28" transform="matrix(0.00219538 -0.999998 -0.999998 -0.00219538 1170.99 761.061)"
                  fill="#484848" />
                <rect width="6" height="28" transform="matrix(0.00219538 -0.999998 -0.999998 -0.00219538 975.987 761.061)"
                  fill="#484848" />
                <rect width="6" height="28" transform="matrix(0.00219538 -0.999998 -0.999998 -0.00219538 780.987 761.061)"
                  fill="#484848" />
                <rect width="6" height="28" transform="matrix(0.00219538 -0.999998 -0.999998 -0.00219538 585.987 761.061)"
                  fill="#484848" />
                <rect width="6" height="28" transform="matrix(0.00219538 -0.999998 -0.999998 -0.00219538 392.987 761.061)"
                  fill="#484848" />
                <rect width="6" height="28" transform="matrix(0.00219538 -0.999998 -0.999998 -0.00219538 197.987 761.061)"
                  fill="#484848" />
                <rect width="6" height="28" transform="matrix(0.00219538 -0.999998 -0.999998 -0.00219538 1443.99 761.061)"
                  fill="#484848" />
                <rect width="6" height="28" transform="matrix(0.00219538 -0.999998 -0.999998 -0.00219538 1248.99 761.061)"
                  fill="#484848" />
                <rect width="6" height="28" transform="matrix(0.00219538 -0.999998 -0.999998 -0.00219538 1053.99 761.061)"
                  fill="#484848" />
                <rect width="6" height="28" transform="matrix(0.00219538 -0.999998 -0.999998 -0.00219538 858.987 761.061)"
                  fill="#484848" />
                <rect width="6" height="28" transform="matrix(0.00219538 -0.999998 -0.999998 -0.00219538 663.987 761.061)"
                  fill="#484848" />
                <rect width="6" height="28" transform="matrix(0.00219538 -0.999998 -0.999998 -0.00219538 468.987 761.061)"
                  fill="#484848" />
                <rect width="6" height="28" transform="matrix(0.00219538 -0.999998 -0.999998 -0.00219538 275.987 761.061)"
                  fill="#484848" />
                <path d="M6 929.998H0V957.998H6V929.998Z" fill="#484848" />
                <path d="M6 998H0V1026H6V998Z" fill="#484848" />
                <path d="M1927.03 609.014L1921.03 609.01L1917.51 637.008L1923.01 637.011L1927.03 609.014Z"
                  fill="#484848" />
                <path d="M1918.51 647.508L1914.51 646.006L1902.99 670.498L1906.99 672.001L1918.51 647.508Z"
                  fill="#484848" />
                <path d="M1901 682L1896.5 679L1882.5 698.5L1886.5 701.5L1901 682Z" fill="#484848" />
                <path d="M1878.5 710L1875.5 706.5L1859 722.5L1862 726L1878.5 710Z" fill="#484848" />
                <path d="M1851 732.5L1849 729L1829.5 740L1832 743L1851 732.5Z" fill="#484848" />
                <path d="M1819 748.5L1816.5 744.5L1797.5 752L1799 755.5L1819 748.5Z" fill="#484848" />
                <path d="M1788.5 757.5L1788.5 754L1769 755.5L1769 759.5L1788.5 757.5Z" fill="#484848" />
              </svg>
  
            </div>
            <img src="assets/images/approved.jpg" alt="Start Application & Lock Rate">
          </div>
          <div class="stepscontant">
            <div class="step-numbers">#2.</div>
            <h2>Start Application & Lock Rate</h2>
            <p>Talk to one of our knowledgeable Loan Officers to explore your options and lock your rate.</p>
          </div>
        </div>
        <div class="application">
  
          <div class="stepscontant">
            <div class="step-number">#3.</div>
            <h2>Start Application & Lock Rate</h2>
            <p>Talk to one of our knowledgeable Loan Officers to explore your options and lock your rate.</p>
          </div>
          <div class="step">
  
            <img src="assets/images/close.jpg" alt="Start Application & Lock Rate">
          </div>
        </div>
      </div>
    </div>
  </section>


   
 