.priceFieldCur {
    position: absolute;
    left: 10px;
    top: -1px;
    margin: 7px 10px;
}


.priceFieldPer {
    position: absolute;
    right: 10px;
    top: -1px;
    margin: 7px 10px;
}

.result {
    background-color: #f7f7f7;
    border-radius: 3px;
    padding-top: 20px;
    text-align: center;
    margin: 0px 360px 0px 360px;
    padding: 20px 0px 20px 253px;
    position: relative;
}

h2 {
    font-weight: 300;
    font-size: 1.3em;
}

.labelCal {
    background: white;
    padding: 10px 10px 10px 10px;
}