        
        
        <div class="Priority">
            <div class="container">
                <div class="main-flex">
            <div class="Legal">
                <h1>Privacy Policy</h1>
            <h2>Your Privacy Our Priority.</h2>
            </div>
            <div class="layout-flow">
                <img src="assets/images/privacay.jpg">
            </div>
            </div>
            
            <div class="overview-contant">
                <h5>Overview</h5>
                 <p>
                    This Privacy Policy applies to www.maxevolve.ca (“Website”), which is owned and operated by Max Evolve Financial Services Inc. (referred to as “Max Evolve,” “we,” “us,” or “our”). This policy outlines how Max Evolve collects, uses, and protects your Personal Information when you interact with our Website. This policy complies with the privacy laws of Alberta, Canada, including PIPEDA (Personal Information Protection and Electronic Documents Act).
                </p>

                <p>By using our Website or providing us with your Personal Information, you agree to the practices outlined in this Privacy Policy.</p>

                <p>Information We Collect
                    We collect the following types of information:</p>

                    <p>Contact Information: Name, business name, email address, and mailing address.
                        Financial Information: Bank statements, credit card statements, average bank balance, credit history, and tax identification number.
                        Unique Identifiers: Username, password, and IP address.
                        Business Information: Company size, business type, and additional data required for financing assessments.
                        Verification Data: Information to verify customer identity and qualify for financing.
                        This information may be collected directly from you or through third parties (e.g., credit reporting agencies, social media) to fulfill our services.</p>

                        <p>Use of Information Max Evolve uses the information collected to:</p>

                        <p>Operate and improve our Website and services.
                            Process your application for business financing.
                            Verify your identity and conduct due diligence.
                            Register your account and manage your financing product.
                            Communicate with you for service updates, order confirmations, and marketing communications.
                            Conduct research and analytics to improve our services.
                            Aggregate anonymized data for reports shared with partners (without revealing individual identities).
                            Privacy and Sharing of Information
                            Max Evolve shares your Personal Information only as described below and in compliance with Alberta and federal privacy laws.</p>

                            <p>With Trusted Partners: We share your information with trusted business partners, third-party lenders, and service providers (e.g., customer support, secure data storage) to help deliver our services.
                                For Legal Requirements: We may disclose information to comply with legal processes (e.g., subpoenas), protect rights and safety, investigate fraud, or comply with requests from regulatory authorities.
                                For Business Transfers: In case of a merger, acquisition, or sale of assets, we may transfer your information, with prior notice provided via our Website.
                                With Your Consent: We will share your information with third parties if you consent to such sharing.
                                We do not sell your Personal Information to third parties. Max Evolve may share aggregated, anonymized data with partners for analytics without identifying individual users.</p>


                            <p>User Access and Choice
                                To update or correct your Personal Information, or if you no longer wish to use our services, please contact us at <a href="mailto:partner@maxevolve.ca" >partner&#64;maxevolve.ca</a> Max Evolve will consider each request for deletion of Personal Information on an individual basis, as required by law.</p>

                                <p>We retain your information as long as your account is active or as needed for our business purposes, legal compliance, and dispute resolution.</p>

                                <p>Opt-Out Policy
                                    If you wish to stop receiving marketing communications, you may unsubscribe by following the instructions in our emails, accessing email preferences on your account settings page, or contacting us at <a href="mailto:partner@maxevolve.ca">partner&#64;maxevolve.ca</a></p>

                                    <p>Tracking Technologies
                                        Our Website uses cookies and similar technologies to analyze trends, manage the Website, track user movements, and gather demographic data.</p>

                                        <p>Cookies: Small text files stored on your device to keep track of your preferences and provide analytics. You may disable cookies in your browser settings, though some features of our Website may be limited.
                                            Log Files: We collect data such as IP address, browser type, ISP, and date/time stamps. This data is used for Website management, analytics, and marketing.
                                            Behavioral Advertising: Max Evolve may partner with third-party advertisers to show ads relevant to you based on browsing behavior.
                                            If you wish to opt out of interest-based ads, please adjust your cookie preferences in your browser. You will still receive generic advertisements.</p>

                                            <p>Security of Information
                                                Max Evolve prioritizes the security of your Personal Information. We use industry-standard 128-bit encryption and Transport Layer Security (TLS) to protect data transmission. We restrict access to sensitive data and ensure that employees do not have access to change or modify bank account information.</p>

                                                <p>If you have questions about our security practices, please contact us at <a href="mailto:partner@maxevolve.ca" >partner&#64;maxevolve.ca</a></p>

                                                <p>Additional Information
                                                    Links to Third-Party Sites
                                                    Our Website may include links to external sites with different privacy practices. Max Evolve is not responsible for the privacy policies of these sites. We recommend reviewing their privacy policies before sharing information.</p>

                      <p>Testimonials
                          We may display testimonials with your consent. If you wish to update or delete your testimonial, please contact us at <a href="mailto:partner@maxevolve.ca" >partner&#64;maxevolve.ca</a></p>

                      <p>Social Media Features
                           Our Website includes social media features (e.g., Facebook “Like” button) that may collect your IP address and track Website usage. Your interactions with these features are governed by the privacy policy of the company providing it.</p>

                      <p>Changes to This Policy
                          Max Evolve may update this Privacy Policy to reflect changes in our practices. Material changes will be communicated via our Website or email. We encourage users to review this page periodically for the latest information.</p>

                       <p>For questions or concerns regarding this Privacy Policy, please contact us at:</p>

                       <p>Max Evolve Financial Services Inc.
                        Email: <a href="mailto:partner@maxevolve.ca" >partner&#64;maxevolve.ca</a>
                        Website: <a href="www.maxevolve.ca">www.maxevolve.ca</a></p>

                        <p>This Privacy Policy complies with the Personal Information Protection and Electronic Documents Act (PIPEDA), Alberta and Canada privacy laws.</p>

                        <p>ME™ is a pending trademark of
                            Max Evolve Financial Services Inc.
                            All rights reserved.</p>
                            <p>© 2024 Max Evolve</p>


            </div>




        </div>
</div>